

mark {
    background-color:#c0ffc8;
}

.portal-header::before{
  background-color: #FFFFFF00;
}

.portal-header h1 {
font-family: 'Lato', sans-serif;
font-size: 3.5em;
font-weight: 400;
color: #000000;
}

.portal-header h2 {
font-family: 'Lato', sans-serif;
font-size: 2em;
font-weight: 400;
color: #000000;
}

.portal-header h4 {
font-family: 'Lato', sans-serif;
font-size: 24px;
color: #000000;
}

.portal-header h3 {
font-family: 'Lato', sans-serif;
color: #000000;
}

.portal-header .search-field {
	background-color: #FFFFFF;
    border-color: #484848;
    color: #000000;
    position: relative;
    /* top: 100px; brakes ui */
}

.portal-header .portal-search button, .publication-contents h4 span {
    background-color: #A9A9A9;
}

.portal-header .portal-search button:hover {
    background-color: #808080;
}

.portal-header .portal-search button {    
    color: #FFFFFF;
}

/* Do not show icons in tiles */
/* Commented this out and made them just white */
.portal-single-publication .publication-icon {
    /* display:none; */
    background-color: #FFFFFF;
    width: 50%;
    height: 50%;
}

/* Do not show featured content block below the tiles */
.featured-content-label {
    display:none;
}

.portal-contents featured-content {
    display:none;
}

.portal-contents .inner {
    display:none;
}

/* Font size in breadcrumbs OK */
.breadcrumb {
    font-size: 14px;
}

/* Portal header gray bar */
.portal-header .logo-link {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 5rem;
 padding-top: 0.5rem;
 padding-left: 2rem;
 background-color: #333333;
}

/*Portal footer with disclaimer*/
.site-footer {
 font-size: 10px;
 box-sizing: border-box;
 width: 90%;
 margin-left: 10%;
 position: relative;
}
/** Cat panel styling **/

.portal-single-publication {
    text-align: center;
    width: 33%; /* def: 25% */
}

.portal-single-publication p {
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    color: rgb(87, 87, 87);
}

.portal-single-publication h3 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

/*Styling of document pages*/

/*Top bar - it was too thick*/
.toolbar {
    height: 20px;
}

/*Previous and next buttons*/

.pager li>a, .pager li>span {
    color: #000000;
    font-weight: 300;
    background-color: #F1F1F1; 
}

/*FA font for body text  */

body.theme1 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000000;
    width: 95%;
}

/*Move the middle part of the site to the right - after I made the sidebar wider*/
.site-content {
    margin-left: 21%;
}

/*Move the breadcrumbs pane to the right - after I made the sidebar wider*/

.fixed-toolbar .breadcrumb-container {
    margin-left: 21%;
}

/*FA font for sidebar items. Dispay block tells that the previous expanded item remain expanded when you click anouther one - so the TOC items don't jump when you click them*/
.nav-site-sidebar li a {
    color: #000000;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.3em;
    display: block;

}

/*Make an indent for the 5th level title in TOC*/
.nav-site-sidebar ul ul ul ul li {
    position:relative;
    padding-left: 30px;
}

/*Highlighted item in the sidebar*/
.nav-site-sidebar ul .active > a {
    font-weight: bold;
     background-color: #d8d8d8;
}

/*Selected TOC item in bold black*/
.nav-site-sidebar .active> a {
    color: #000C34;
}

/*FA color for left sidebar*/
.site-sidebar {
    background-color: #F1F1F1;
    width: 21%;
}

.search-field {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1;
    border-color: #F1F1F1;
    color: #fff;
    padding: 12px 15px;
}


.form-control {
    color: #555555;
    background-color: #fff;
    border: none;
    width: 99%;
}

.search.form-control.search-field {
    color: -internal-light-dark(black, white);
}

.searchresultitem.selected-searchresultitem {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.searchresulttitle {
    font-size: 24px;
    color:#555;
}

/* Failed to redefine text formatting for the search words in search results 

.search-highlight mark {
    background-color: yellow;
}

.searchresultsnippet.search-highlight mark {
    background-color: yellow;
}

*/

.search-result-breadcrumbs {
    font-size: 12px;
 }
    
.searchresultsnippet {
    font-weight: 100;
    font-size: 16px;
    color: #555;
}
 
/*Try to change central part padding from the left*/
article#content-wrapper {
    padding-left: 100px;
}

/* Don't show Equation label*/
div.equation-title {
    display: none;
} 

table{
    width:100%;
    margin-bottom: 60px;
}

table thead{
    font-weight: bold;
    background-color: #F1F1F1;
}

table tbody tr:nth-of-type(even) {
    background-color: #F1F1F1;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #F1F1F1;
}

.programlisting {
    background-color: #F1F1F1;
    border: 1px solid #cccccc;
    font-size: 11px;
}

/*Break too long strngs - we have programlistings in tables, need to break them so that they fit into the table - DOC-336*/
pre.programlisting {
    word-break: break-word;
}

/* Line spacing in lists*/
li p {
   margin-bottom: 0.3em; /* or 0.3em or similar for just a little space */
}

.blockquote {
    padding: 11px 22px;
    margin: 0 0 22px;
    font-size: 16px;
    border-left: 5px solid #eeeeee;
    margin-bottom: 0.3em;
}


/*In this section*/
div.section-toc-title {
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0.5em;
}

/*Topic content on the right*/
.section-nav.nav>li a {
    padding: 5px 1px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}


/*Inline image position*/
.inlinemediaobject img:not([height]):not([width]) {
    vertical-align: baseline;
}


/* Added border around images */
.mediaobject img {
    border: solid rgb(224, 224, 224) thin;
}


/* Code collouts - black and small*/
div.calloutlist p {
    font-size: 11px; 
}

div.calloutlist td {
    background-color: #FFFFFF; 
}

.fa-circle {
    color: #000000;
}

/* code element*/

code {
    padding: 2px 4px;
    font-size: 80%;
    color: #000000;
    background-color: #F1F1F1;
    border-radius: 4px;
}

/*Cookie consent pane*/

div.cc-color-override--562569728.cc-window {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.95);
    border: 1px solid #F1F1F1;
    font-family: Lato;
    font-size: 14px;
}

a.cc-btn.cc-dismiss {
       background-color: rgb(255, 255, 255, 0.95);
       border: 1px solid #1976d2;
}

a.cc-btn.cc-dismiss:hover, a.cc-btn.cc-dismiss:focus {
       background-color: rgb(0,119,205);
}

a.cc-link {
  color: rgb(0, 0, 0) !important;
}

a.cc-btn.cc-deny  {
    
  color: rgb(0, 0, 0) !important;
  
}

/* these changes were added as a part of the new advanced search implementation -->*/
.ais-RefinementList-count {
    display: none;
}

.ais-RefinementList-labelText {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.refinement-title {
    font-weight: 600;
}

.filters-panel {
    width: 27% !important;
}

.portal-header .search-page-link a {
    color: #1976d2 !important;
}

.portal-header .search-page-link a:hover {
    color: #11508e !important;
}

.search-page-link {
    margin-top: 15px !important;
}
/*<-- these changes were added as a part of the new advanced search implementation */

@media print {
  .site-content {
    margin-left: 0;
  }
  .feedback-panel {
    display: none;
  }
}
@media print {
	a:link:after, a:visited:after {
		content: ' [' attr(href) ']';
		text-decoration: none;
		color: #444;
		font-size: 90%;
	}
}

